:root {

  --header: #111;
  --on-header: #fafafa;

  --backg: #222;
  --on-backg: #fafafa;

  --button: hsl(330, 50%, 40%);
  --on-button: #fafafa;
  --button-shadow: none;
  --button-border: 2px solid #000;

  --button-hov:  hsl(330, 50%, 45%);
  --on-button-hov: #fafafa;
  --button-hov-shadow: none;
  --button-hov-border: var(--button-border);

  --button-act:  hsl(330, 50%, 35%);
  --on-button-act: #fafafa;
  --button-act-shadow: none;
  --button-act-border: var(--button-border);

  --input: #555;
  --on-input: #fafafa;
  --input-border: 2px solid #000;
}

.App {
  text-align: center;
  background: var(--backg);
  color: var(--on-backg);
}

.App-header {
  background-color: var(--header);
  padding: 10px;
  color: var(--on-header);
}

.App-intro {
  font-size: large;
}

button {
  font-size: 1.5em;
  padding: .5em .3em;
  margin: 0 .2em;
  background: var(--button);
  color: var(--on-button);
  border: var(--button-border);
  box-shadow: var(--button-shadow);
  border-radius: .2em;
}

button:hover {
  background: var(--button-hov);
  color: var(--on-button-hov);
  border: var(--button-hov-border);
  box-shadow: var(--button-hov-shadow);
}

button:active {
  background: var(--button-act);
  color: var(--on-button-act);
  border: var(--button-act-border);
  box-shadow: var(--button-act-shadow);
}

.pascalControls {
  margin: .2em;
  padding: 1em;
}

.inputBoxes {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  vertical-align: top;
  text-align: left;
  width: auto;
}

.inputBox {
  font-size: 1.2em;
  padding: 0;
  text-align: center;
  color: var(--on-input);
  background: var(--input);
  border: var(--input-border);
  margin: 0 .2em;
  border-radius: .3em;
}

.inputLabel {
  margin-left: .5em;
}

#rowInput {
  grid-column: 1;
  grid-row: 2;
}

#colorInput {
  grid-column: 2;
  grid-row: 2;
}

#updateButton {
  grid-column: 3;
  grid-row: 2;
}

.pascalHexagon:hover {
  opacity: .8;
}
