
.App {
  width: 100%;
  height: 100%;
  margin: 0;
  display: grid;
  grid-template-areas:
    "head head"
    "main opt1"
    "main opt2";
  grid-template-columns: 1fr 200px;
  grid-template-rows: 30px 1fr 1fr;
  background-color: #222;
  color: #fff;
}

.App > header {
  grid-area: head;
  padding: 5px;
  background-color: #111;
  color: #fff;
  text-align: center;
  font-family: "overlock", sans-serif;
}

.App > .App-options {
  grid-area: opt1;
  background-color: #333;
  display: grid;
  grid-template-areas:
    "label1 input1"
    "label2 input2"
    "button button"
    "empty empty";
  grid-template-rows: 50px 50px 50px 1fr;
  grid-template-columns: 1fr 1fr;
  padding: 10px;
}

.App > .App-colors {
  grid-area: opt2;
  background-color: #333;
  display: grid;
  grid-template-areas:
    "title"
    "primes"
    "button"
    "empty";
  padding: 10px;
}

.App > .App-main {
  grid-area: main;
  max-width: 100%;
  max-height: 100%;
  margin: 0;
}

.App > .App-main > svg {
  max-width: 100%;
  max-height: 100%;
}

.App > footer {
  grid-area: foot;
  background-color: #111;
}

.App > .App-options > .inputLabel1 {
  grid-area: label1;
}

.App > .App-options > .inputLabel2 {
  grid-area: label2;
}

.App > .App-options > .input1 {
  grid-area: input1;
}

.App > .App-options > .input2 {
  grid-area: input2;
}

.App > .App-options > .updateButton {
  grid-area: button;
}

.App > .App-options > * {
  align-self: center;
}

.App > .App-colors > .App-colors-title {
  grid-area: title;
}

.App > .App-colors > .primeSliders {
  grid-area: primes;
}

.App > .App-colors > button {
  grid-area: button;
}

button {
  background-color: hsl(330, 50%, 40%);
  color: white;
  font-size: 1em;
  border: none;
  padding: 10px;
  box-shadow: 1px 1px 4px black;
  border-radius: 20px;
  height: 3em;
}

button:hover {
  background-color: hsl(330, 50%, 45%);
}

button:active {
  color: #eee;
  background-color: hsl(330, 50%, 35%);
  box-shadow: 0px 0px 2px black;
}

button:disabled {
  background-color: #444;
}

button:disabled:hover {
  color: #777;
}

input[type="number"] {
  color: #fff;
  background-color: #555;
  font-size: 1em;
  width: 90%;
  text-align: center;
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px 0;
}

polygon {
  stroke-width: .1px;
  stroke: black;
}

@media (max-width: 500px) {
  .App {
    grid-template-areas:
      "head head"
      "opt1 opt1"
      "main main"
      "opt2 opt2";
    grid-template-rows: 30px 80px 1fr;
    grid-template-columns: 40px 1fr;
  }

  .App > .App-options {
    background-color: #222;
    padding: 5px;
    display: grid;
    grid-template-areas:
      "label1 label2 button"
      "input1 input2 button";
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }

  .App > .App-colors {
    display: none;
  }

  button {
    height: 80%;
  }
}
